body {
    background-color: bisque;
    font-family: Georgia, Garamond, sans-serif;
    font-size: 18px;
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
}

h1 {
    color: rgb(27, 122, 100);
}

h2, h3 {
    color: rgb(27, 122, 100);
    text-align: left;
    margin-left: 25px;
}

h4 {
    text-align: left;
    margin-left: 24px;
}

ul, p {
    border: 1px solid black;
    border-radius: 2em;
    padding: 14px;
    list-style-type: none;
    text-align: left;
}

ol {
    border: 1px solid black;
    border-radius: 2em;
    padding: 14px 14px 14px 30px;
    text-align: left;
}
